body {
    background-color: #eadcff;
    color: #3B1C32;
    font-family:"Courier New", Courier, monospace;
} 

button {
    font-family: inherit;
    font-size: 1em;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #8f859e;
    border-width: 5px;
    width: 5%;
}

img {
    width: 150px;
    height: 150px;
}

h1 {
    color: #6A1E55
}

h3 {
    color: #A64D79;
}

h4 {
    color: #A64D79;
}
